.left_aside {
  width: 27%;
}
.right_aside {
  width: 73%;
}

.billing {
  background: #ffffff;
  box-shadow: 1px 4px 12px rgba(18, 18, 18, 0.08);
  border-radius: 8px;
}
.dash {
  background: #fcf8ff;
}
.disabled {
  opacity: 10;
  pointer-events: none;
  user-select: none;
  color: #e3e3e3;
  border-color: #e3e3e3;
}
.clicked {
  color: #121212;
  border-bottom: 2px solid #121212; /* Add border underneath clicked link */
}
/* Mobile screen */
@media only screen and (max-width: 768px) {
  .left_aside {
    width: 100%;
    margin-top: 50px;
  }
  .right_aside {
    width: 100%;
  }
  .profile_image img {
    width: 100px;
  }
  .dashboard_mobile {
    font-size: 16px;
  }
}
