@import url("./otp.css");

html,
body {
  height: 100%;
}

.box {
  height: 100%;
  background-color: white;
  display: flex;
}
.full_height {
  height: max-content;
}
.left-box {
  width: 600px;
  background: url(/img/login_image.png) no-repeat center center;
  background-size: cover;
}
.right-box {
  width: 840px;
}

.col-md-6 {
  font-size: small;
}

.col-md-6 label {
  font-weight: 600;
}

.yearly_payment {
  background: #e4d6ef;
  border: 1px solid #7933b1;
  border-radius: 4px;
}
.payment_text {
  font-size: 16px;
}
.monthly_payment {
  border: rgb(217, 217, 217) 1px solid;
  border-radius: 4px;
}
.percentage_saved {
  position: relative;
  left: 170px;
  font-weight: 700;
  font-size: 14px;
  color: #7933b1;
}
@media only screen and (min-width: 768px) {
  .form-width {
    width: 500px;
  }
  .form-container {
    width: 680px;
  }
  .payment_breakdown {
    width: 50%;
  }
  .check_tc {
    width: 75%;
  }
}

/* Mobile screen */
@media only screen and (max-width: 768px) {
  .payment_breakdown {
    width: 100%;
  }
  .proceed_cta,
  .buynow_cta {
    width: 100%;
  }

  .amount_per_user {
    width: 104px;
  }
  .duration_per_user {
    width: 115px;
  }

  .percentage_saved {
    position: relative;
    left: 0px;
    top: 1px;
    font-weight: 700;
    font-size: 14px;
  }
}
